<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>SPA</title>
   
</head>
<body>
    
    @RenderBody()

    <h1>Welcome to the World of SPA with Backbone,HandleBar,Webapi </h1>
</body>
</html>
